:root {
    font-family: Inter, Verdana, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;

    /* Цвета фонов */
    --background-color-default: #fff;
    --background-color-help: #ecf0f1;

    /* Цвета текста */
    --color-text-default: #0e1b3e;

    /* Цвета границ */
    --color-border-default: #ddd;
}

body {
    display: flex;
    min-width: 500px;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-color-default);
    font-size: 16px;

    &.dark {
        /** Тёмная тема **/

        /* Цвета фонов */
        --background-color-default: #171e31;
        --background-color-help: #130f0e;

        /* Цвета текста */
        --color-text-default: #a3deff;

        /* Цвета границ */
        --color-border-default: #222;
    }
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

a {
    color: #08f;
}
